@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Montserrat:wght@300;400;600;700&family=Fira+Code:wght@300;400;500&display=swap');


/* Global Styles */
* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

/* Main container */
.main {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  color: white;
  font-size: 70px;
}

.Red {
  color: #f4543c;
  font-family: 'Inter', Arial, Helvetica, sans-serif;

}

.typing {
  font-size: 55px;
  color: white;
  font-weight: 400;
}

/* Content section */
.content {
  padding-top: 15%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  color: white;
  padding-right: 10%;
}

.contact-me-btn {
  margin-top: 20px;
}

.comp3{
  min-height: 50vh;
}
.About{
  color: white;
  font-size: 30px;
  font-weight: 400;
  margin: 0px 20%;
}

.About p{
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}
.Content3{
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.Content3 a{
  font-size: 20px;
  font-weight: 300;
  border-radius: 20px;
}

.Content3 a:hover{
  transform: scale(1.2);
}

.scale1:hover{
  transform: scale(1.2);
}
.comp2{
  width: 94%;
  min-height: 100vh;
  border-radius: 3%;
  max-height: max-content;
  margin: 0px 3%;
  background: linear-gradient(0deg, rgba(0,0,0,0.7) 1%, rgba(61,61,61,0.7) 12%, rgba(120,120,120,0.7) 22%, rgba(207,207,207,0.9) 44%,
  rgba(235,235,235,0.9) 58%, rgba(255,255,255,1) 81%);
  padding: 20px;
  z-index: -1;
}
.curve img{
  height: 40%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
}
.ExperienceHeader{
  color: black;
  padding: 40px;
  font-size: 50px;
  text-align: center;
}
/* Timeline.css */
.container7 {
  position: relative;
  width: 43%;
}
.container6{
  width: 100%;
  height: auto;
  position: relative;
  
} 
.container6::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 0; /* Start height at 0 */
  background: black;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: 0;
  
}

@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.container6.animate-line::after {
  animation: moveline 4s linear forwards; /* Trigger animation when class is added */
}


.experience {
  padding: 20px 30px;
  position: relative;
  border-radius: 6px;
  color: white;
}

.left {
  left: 0;
  margin-left: 5%;
}

.right {
  left: 52%;
  margin-right: 5%;
}

.LogoTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.placeholder-img {
  width: 50px;
  height: 50px;
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  border-radius: 50%;
}

.SZ { background-color: #141a46; }
.LD { background-color: #005faf; }
.PSS { background-color: #1d783d; }
.TS { background-color: rgb(227, 76, 38); }
.CEES { background-color: goldenrod; }

.comp4{
  width: 100vw;
  height: 100vh;
  margin: 0px;
  background-color: black;
  background-image: url("../Media/WhiteUofC.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
    z-index: -1;
}
.WhiteColor{
  color: white;
}
.comp5 {
  width: 100vw;
  min-height: 100vh;
  max-height: max-content;
  margin: 0px;
  color: white;
  background-color: rgb(0, 0, 0); /* Translucent black with 50% opacity */
}

.education-content{
  width: 100vw;
  height: 100vh;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
}

.comp7{
  width: 100%;
  min-height: 100vh;
  max-height: max-content;
  margin: 0px;
  color: white;
}

.comp6{
  width: 100%;
  min-height: 100vh;
  max-height: max-content;
  margin: 0px;
  background-color: black;
  background-image: url("../Media/ColoredUofC.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
    z-index: -1;
}

.TechStackHeader{
  color: white;
  padding: 40px;
  font-size: 50px;
  text-align: center;
}
/* Button Styles */
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}

.btn-white {
  background-color: #f4543c;
  color: azure;
  padding: 15px 30px;
  text-decoration: none;
  border-radius: 50px;
  display: inline-block;
}

.btn-white:hover {
  transform: scale(1.05);
}


.btn-white::after {
  background-color: #f4543c;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/* Animated Button */
.btn-animate {
  animation: moveInBottom 2s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
